.edit-Radius{
    -fx-background-color: white;
    -fx-background-radius: 100;
    -fx-border-color: #0f6789
}
.gradient{
    -fx-background-color: linear-gradient(to bottom right, #63BAD9, #B1DCEC);
}

.login-btn{
    -fx-background-color: linear-gradient(to bottom right, #63BAD9, #B1DCEC);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #72d1f4, #c0e2ee);
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #63BAD9, #B1DCEC);
    -fx-border-width: .5px;
}
.textfield:focused{
    -fx-border-width: 1px;
}
.back-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
}
.back-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #EE554C, #EE554C);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-font-size: 14px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #EE554C, #EE554C);
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}

/*
.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right, #0f6789, #286155);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}
*/
/*#0f6789 = 63BAD9 286155 = B1DCEC*/